@tailwind base;
@tailwind components;
@tailwind utilities;

.plan-form {
  @apply flex flex-col gap-y-10;

  .container {
    @apply flex items-center gap-x-1 rounded-md border px-2;
  }

  label {
    @apply pointer-events-none  text-sm font-bold text-black;
  }
  input,
  textarea {
    @apply border-none px-3 py-2 focus:outline-none;
  }
}

.btn {
  @apply rounded-full bg-primary px-5 py-2 font-semibold text-black hover:bg-primary/65;
}

.plan {
  input,
  textarea {
    @apply rounded-md hover:bg-gray-100;
  }
}

.react-tagsinput {
  background-color: #fff;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
  border-radius: 10px;
}

.react-tagsinput--focused {
  border-color: #0ea5e9;
}

.react-tagsinput-tag {
  background-color: #38bdf8;
  border-radius: 2px;
  border: 1px solid #0ea5e9;
  color: #ffff;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #38bdf8; /* text-customPrimary */
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 80px;
}
